<form #addProjectForm="ngForm" (ngSubmit)="onSubmit()">
<h2 mat-dialog-title>{{header}}</h2>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder={{name}} name="title" ngModel required minlength="3" maxlength="30" #title=ngModel>
    </mat-form-field>
    <mat-error *ngIf="title.touched && title.invalid">Invalid {{name}}.</mat-error>
<br>
    <mat-form-field>
        <textarea matInput placeholder= {{description}} name="desc" ngModel #pdesc=ngModel required minlength="5" [maxlength]="maxChars"></textarea>
    </mat-form-field>
    <mat-error *ngIf="pdesc.touched && pdesc.invalid">Invalid {{description}}.</mat-error>
    <span>Characters remaining: {{maxChars-pdesc.value.length}}</span>
    <br>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Developers</mat-label>
      <mat-select required name="list" minlength="3" ngModel #list="ngModel" panelClass="example-long-panel" multiple>
        <mat-select-filter [placeholder]="'Filter'" [array]="devlopersList"
        displayMember="devloper" (filteredReturn)="filteredList=$event"
        ></mat-select-filter>
        <mat-select-trigger>
          {{list.value ? list.value[0] : ''}}
          <span *ngIf="list.value?.length > 1" class="example-additional-selection">
            (+{{list.value.length - 1}} {{list.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let dev of filteredList" [value]="dev.devloper" [matTooltip]="dev.devloper" matTooltipPosition=right>{{dev.devloper}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="list.hasError('required') && list.touched">Please select devlopers.</mat-error>
    <mat-error *ngIf="list.hasError('minlength') && list.touched">Please select at least 3 devlopers.</mat-error>
</div>

<mat-dialog-actions>
    <button mat-raised-button color="primary">Save</button>
    <button type = "button" mat-raised-button (click)="close()">Close</button>
</mat-dialog-actions>
</form>
