<div class = "overview" style="min-height: 100%;">
<button class="btn btn-success" style="margin-top: 10px; margin-left: 5px;" (click)="openDialog()">Add Version</button>
<div class="row">
    <div *ngFor ="let version of versions" style="margin-top: 10px;" class = "col-sm-4 version">
      <div class="card">
        <div class="card-body">
            <div class="info">
                <h3 class="card-title">{{version.title}}</h3>
                <p class="card-text">{{version.desc}}</p>
            </div>
          <a href="#" mat-raised-button color="primary">View Sprint</a>
        </div>
      </div>
    </div>
  </div>
  </div>