<div class = "overview" style="min-height: 100%;">
<button class="btn btn-success" style="margin-top: 10px; margin-left: 5px;" (click)="openDialog()">Add Version</button>
<div class="row" *ngIf="versions.length>0; else noRecord">
    <div *ngFor ="let version of versions; let ind=index" style="margin-top: 10px;" class = "col-sm-4 version">
      <div class="card">
        <div class="card-body">
            <div class="info">
                <h3 class="card-title">{{version.title}}</h3>
                <p class="card-text">{{version.desc}}</p>
            </div>
          <a mat-raised-button color="primary" (click)="onViewSprint(ind)">View Sprint</a>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noRecord>
    <hr>
    <h2 style="text-align: center;">No Version Found For This Project.</h2>
  </ng-template>
  </div>