<form #addVersionForm="ngForm" (ngSubmit)="onSubmit()">
  <div *ngIf="showMsg" class="alert alert-danger">Please enter data in valid format.</div>
<h2 mat-dialog-title>{{header}}</h2>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder={{name}} name="title" [(ngModel)]="sname" required minlength="3" maxlength="30" #title=ngModel>
    </mat-form-field>
    <mat-error *ngIf="title.touched && title.invalid">Invalid {{name}}.</mat-error>
  <br>
    <mat-form-field>
        <textarea matInput placeholder= {{description}} name="desc" [(ngModel)]="sdesc" #pdesc=ngModel required minlength="5" [maxlength]="maxChars"></textarea>
    </mat-form-field>
    <mat-error *ngIf="pdesc.touched && pdesc.invalid">Invalid {{description}}.</mat-error>
    <span>Characters remaining: {{maxChars-pdesc.value.length}}</span>
    <br>
    <br>
    <mat-form-field *ngIf="fromVersion===false" class="example-full-width" appearance="fill">
      <mat-label>Sprint End Date</mat-label>
      <input matInput [matDatepicker]="picker" name="selectedDate" #input="ngModel" [(ngModel)]="selDate" [min]="minDate" [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="input.hasError('matDatepickerMax')">Sprint must be in between 14-28 days.</mat-error>
    </mat-form-field>
</div>

<mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="addVersionForm.invalid">Save</button>
    <button type = "button" mat-raised-button (click)="close()">Close</button>
</mat-dialog-actions>
</form>
