<div class="overview">
  <mat-toolbar color="primary">
      <span class="fill-remaining-space" style="text-align: center;">Login</span>
  </mat-toolbar>

  <div class="container">
      <form #f="ngForm" (ngSubmit)="onLogin()" class="m-auto form">
            <mat-form-field appearance="fill" class="form-element">
              <mat-label>Email</mat-label>
                <input matInput type="email" name="email" required email ngModel #email="ngModel">
                <mat-error *ngIf="email.touched && email.errors?.required">Email is required.</mat-error>
                <mat-error *ngIf="email.touched && email.errors?.email">Please enter valid email.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-element">
              <mat-label>Password</mat-label>
              <input matInput type="password" name="password" placeholder="Password" required ngModel #passwrod="ngModel">
              <mat-error *ngIf="passwrod.touched && passwrod.errors?.required">Password is required.</mat-error>
            </mat-form-field>

        <mat-action-list class="text-center mb-3">
                <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Login</button>
        </mat-action-list>
        </form>
      <div class="text-center">New to Task-n-Schedule? <a [routerLink]="['/register']">Register</a></div>
  </div>
</div>
<app-footer></app-footer>
