<div class="overview">
<div class="incomplete col-md-4 col-lg-4 col-sm-12 col-xs-12">
<mat-card class="example-card">
	<mat-card-header  class="backlogs">
		<mat-card-title>
      Backlogs
      <span *ngIf="userRole === 'Scrum Master'" (click)="openDialog()">
        <mat-icon matTooltip="Add Backlog" style="cursor: pointer;float: right;">add_circle</mat-icon>
      </span>
    </mat-card-title>
	</mat-card-header>

	<mat-card-content>
    <div *ngIf="todo.length > 0; else noRecord_todo">
      <div class="example-box" *ngFor="let item of todo;let i=index">
        <div class="data">
        <h3>
          {{item.task}}
        </h3>
        <span><i class="fa fa-calendar" aria-hidden="true"><span style="margin-left: 2%;">{{item.date}}</span></i></span>
        </div>
        <div style="display: flex;margin-left: 2%;">
          <mat-icon matTooltip="View Subtask" style="cursor: pointer;" (click)="onViewBackLog(i)">visibility</mat-icon>
        <mat-icon *ngIf="userRole === 'Scrum Master'" matTooltip="Remove Backlog" (click)="removeBacklog(i)" style="cursor: pointer;">close</mat-icon>
        </div>
      </div>
    </div>
    <ng-template #noRecord_todo>
      <div class="noRecords row h-100">
        <div class="col-sm-12 my-auto">
            No Backlogs found.
        </div>
    </div>
    </ng-template>
	</mat-card-content>
</mat-card>
</div>
<div class="inprogress col-md-4 col-lg-4 col-sm-12 col-xs-12">
  <mat-card class="example-card">
    <mat-card-header  class="backlogs">
      <mat-card-title>In progress</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="inprogress.length > 0; else noRecord_inprogress">
      <div class="example-box" *ngFor="let item of inprogress;let i=index">
        <div class="data">
          <h3>
            {{item.task}}
          </h3>
          <span><i class="fa fa-calendar" aria-hidden="true"><span style="margin-left: 2%;">{{item.date}}</span></i></span>
          </div>
          <mat-icon matTooltip="View Subtask" style="cursor: pointer;" (click)="onViewProgressTask(i)">visibility</mat-icon>
          <!-- <span class="close" >&times;</span> -->
      </div>
    </div>
    <ng-template #noRecord_inprogress>
      <div class="noRecords row h-100">
        <div class="col-sm-12 my-auto">
            No In-progress tasks found.
        </div>
    </div>
  </ng-template>
    </mat-card-content>
  </mat-card>
  </div>
  <div class="completed col-md-4 col-lg-4 col-sm-12 col-xs-12">
    <mat-card class="example-card">
      <mat-card-header  class="backlogs">
        <mat-card-title>Completed</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div *ngIf="inprogress.length > 0; else noRecord_completed">
        <div class="example-box" *ngFor="let item of completed; let i=index">
          <div class="data">
            <h3>
              {{item.task}}
            </h3>
            <span><i class="fa fa-calendar" aria-hidden="true"><span style="margin-left: 2%;">{{item.date}}</span></i></span>
            </div>
            <mat-icon matTooltip="View Subtask" style="cursor: pointer;" (click)="onViewCompletedTask(i)">visibility</mat-icon>
            <!-- <span class="close">&times;</span> -->
        </div>
      </div>
      <ng-template #noRecord_completed>
        <div class="noRecords row h-100">
          <div class="col-sm-12 my-auto">
              No completed tasks found.
          </div>
      </div>
    </ng-template>
      </mat-card-content>
    </mat-card>
    </div>
  </div>
