<div class = "overview" style="min-height: 100%;">
    <button *ngIf="userRole === 'Scrum Master'" class="btn btn-success" style="margin-top: 10px; margin-left: 5px;" (click)="openDialog()">Add Sprint</button>
    <div class="row" *ngIf="sprints.length>0; else noRecord">
        <div *ngFor ="let sprint of sprints; let ind=index" style="margin-top: 10px;" class = "col-sm-4 sprint">
          <div class="card">
            <div class="card-body">
                <div class="info">
                    <h3 class="card-title">{{sprint.name}}</h3>
                    <p class="card-text">{{sprint.description}}</p>
                </div>
              <a mat-raised-button color="primary" (click)="onViewBacklog(sprint._id)">Show Backlogs</a>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noRecord>
        <hr>
        <h2 style="text-align: center;">No Sprint Found For This Version.</h2>
      </ng-template>
    </div>
