/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.overview {
  min-height: 100%;
}

.row {
  margin-right: 0px !important;
}

.success {
  background: #34a834;
}
.failure {
  background: #be3737;
}
