<div class = "overview" style="min-height: 100%;">
<button class="btn btn-success" *ngIf="userRole === 'Scrum Master'" style="margin-top: 10px; margin-left: 5px;" (click)="openDialog()">Add Project</button>
<div class="row" *ngIf="projects.length>0; else noRecord">
    <div *ngFor ="let project of projects; let ind=index" style="margin-top: 10px;" class = "col-sm-4 project">
      <div class="card">
        <div class="card-body">
            <div class="info">
                <h3 class="card-title">{{project.name}}<mat-icon *ngIf="userRole === 'Scrum Master'" matTooltip="Edit Project" style="cursor: pointer; float: right;" (click)="onEditProject(project)">create</mat-icon></h3>
                <p class="card-text">{{project.description}}</p>
            </div>
          <a [routerLink]="['version']" [queryParams]="{'projectId': project._id}" mat-raised-button color="primary" >View Version</a>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noRecord>
    <hr>
    <h2 style="text-align: center;">No Projects Found.</h2>
  </ng-template>
</div>
