<div class="overview">
<mat-toolbar color="primary">
    <span class="fill-remaining-space" style="text-align: center;">Create your account</span>
  </mat-toolbar>

  <div class="container">
    <form [formGroup]="registerForm" (ngSubmit)= "onSubmit()" class="m-auto form">

      <mat-form-field class="form-element">
        <input matInput placeholder="First Name" formControlName="fName">
        <mat-error *ngIf="f.fName.touched && f.fName.invalid">
            <div *ngIf="f.fName.errors.required">Please fill the required field.</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Last Name" formControlName="lName">
        <mat-error *ngIf="f.lName.touched && f.lName.invalid">
          <div *ngIf="f.lName.errors.required">Please fill the required field.</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="f.email.touched && f.email.invalid">
            <div *ngIf="f.email.errors.required">Email is required.</div>
            <div *ngIf="f.email.errors.email">Please enter valid email.</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput type="password" placeholder="Password" formControlName="password" autocomplete="off">
        <mat-error *ngIf="f.password.touched && f.password.invalid">
            <div *ngIf="f.password.errors.required">Password is required.</div>
            <div *ngIf="f.password.errors.minlength">Password must contain at least eight characters.</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field style="padding: 0%;" class="form-element">
        <input matInput type="password" placeholder="Confirm Password" #confirmPwd>
      </mat-form-field>
      <mat-error *ngIf="!isPwdMatched" style="text-align: left;font-size: 75%;">
          <div>
              Password and confirm password must be same.
        </div>
        </mat-error>

      <mat-form-field class="form-element">
        <input matInput type="text" formControlName='orgName' placeholder="Organization Name" >
        <mat-error *ngIf="f.orgName.touched && f.orgName.invalid">
            <div *ngIf="f.orgName.errors.required">Organization Name is required.</div>
            <div *ngIf="f.orgName.errors.minlength">Organization Name must contain at least three characters.</div>
            <div *ngIf="f.orgName.errors.pattern">Please enter valid Organization Name.</div>
        </mat-error>
      </mat-form-field>

    <mat-form-field class="form-element">
        <mat-select name="domain" placeholder="Select Domain" formControlName="orgDomain">
            <mat-option *ngFor="let domain of Domain" [value]="domain">
              {{domain}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="f.orgDomain.touched && f.orgDomain.invalid">
            <div *ngIf="f.orgDomain.errors.required">OrgDomain is required.</div>
        </mat-error>
    </mat-form-field>

    <div class="form-element text-center">
    <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Register Data</button>
  </div>
</form>
<div class="text-center">Already have an account? <a routerLink="/login">Sign in</a></div>
</div>

</div>
<!-- <app-footer></app-footer> -->
