<!-- <h4 style="text-align:center"> Bar chart of Company A&B
    <br/><br/>
      <button (click)="randomize()" class="btn btn-primary">Change Data</button>
  
    </h4><br/> -->
    <br>
  <div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="mbarChartLabels"
              [options]="barChartOptions"
              [colors]="barChartColors"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
