.mat-form-field {
  width: 100%;
}
.mat-form-field textarea {
  resize: none;
  min-height: 70px;
}
.mat-select {
  margin-left: 2%;
}
::ng-deep .mat-select-panel.example-long-panel {
  max-height: 220px;
}
